<div>
  <span class="govuk-caption-xl">Challenge 3 out of 3</span>
  <h2 class="govuk-heading-xl">Adding and subtracting fractions</h2>
  <p class="govuk-body">
    If you were to add <sup>1</sup>&frasl;<sub>2</sub> and <sup>1</sup>&frasl;<sub>3</sub> it is hard to picture what the answer would be. Rewriting the fractions with a common bottom number, or denominator makes it easier.
  </p>
  <p class="govuk-body">
    To add or subtract fractions:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>turn any mixed numbers into improper fractions</li>
    <li>change the fractions so they have the same denominator</li>
    <li>add or subtract the numerators</li>
  </ul>
  <h2 class="govuk-heading-m">Question:</h2>
  <ol class="govuk-list govuk-list--letter">
    <li>3 <sup>1</sup>&frasl;<sub>4</sub> + 4 <sup>1</sup>&frasl;<sub>2</sub> </li>
  </ol>
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        View the answer to question 1
      </span>
    </summary>
    <div class="govuk-details__text">
      <h3 class="govuk-heading-s"><strong>Answer:</strong></h3>
      <p class="govuk-body"><sup>31</sup>&frasl;<sub>4</sub>&ensp;or&ensp;7 <sup>3</sup>&frasl;<sub>4</sub></p>
      <h3 class="govuk-heading-s"><strong>Working out:</strong></h3>
      <p class="govuk-body">
        <code>
          (13 x 2) + (9 x 4) = 62<br>
          &emsp;&emsp;&emsp;&emsp;4 &emsp;&emsp;&emsp;x&emsp;&emsp;&emsp;&emsp;2&emsp;&emsp;&emsp; = 8<br>
          <br>
          = 62 ÷ 2<br>
          &emsp;&emsp;8&emsp; ÷ 2<br><br>
          = <sup>31</sup>&frasl;<sub>4</sub>&ensp;or&ensp;7<sup>3</sup>&frasl;<sub>4</sub>
        </code>
      </p>
    </div>
  </details>
  <a href="./end" role="button" draggable="false" class="govuk-button">
    Next lesson
  </a>
</div>
