<div>
  <span class="govuk-caption-xl">Challenge 2 out of 3</span>
  <h2 class="govuk-heading-xl">Understanding the numbers in a fraction</h2>
  <p class="govuk-body">
    Think about folding a piece of paper.
  </p>
  <p class="govuk-body">
    Look at the pictures below.
  </p>
  <p class="govuk-body">Picture a)</p>
  <img style="width:100%; margin-bottom:2em;" src="{{ asset_path }}images/paper.png" alt="folding paper into two parts">
  <p class="govuk-body">Picture b)</p>
  <img style="width:100%; margin-bottom:2em;" src="{{ asset_path }}images/failed.png" alt="Image has failed to load">
  <h2 class="govuk-heading-m">Question</h2>
  <p class="govuk-body">
    In picture a) the paper is divided into two equal parts, each piece is half of the original. This fraction is written as <sup>1</sup>&frasl;<sub>2</sub>
    and read as ‘one-half’.
  </p>
  <p class="govuk-body">
    Think about how many parts the paper is divided into in picture b) and how you would write one piece as a fraction.
  </p>
  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        View the answer
      </span>
    </summary>
    <div class="govuk-details__text">
      The paper would be divided into four equal parts, each piece is a forth of the original. This fraction is written as <sup>1</sup>&frasl;<sub>4</sub> and read as 'one-forth'.
    </div>
  </details>
  <a href="./fractions-three" role="button" draggable="false" class="govuk-button">
    Next lesson
  </a>
</div>
