<!-- Javascript -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/node_modules/govuk-frontend/all.js"></script>
<script src="/public/javascripts/application.js"></script>
<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="e6851e1d-d850-45a0-9dcc-48374b8856f8";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
<script type="text/javascript">
  function openCrisp(){
    $crisp.push(["do", "chat:open"])
  }
</script>

{% if useAutoStoreData %}
  <script src="/public/javascripts/auto-store-data.js"></script>

{% endif %}
