{% extends "layout.html" %}

{% block pageTitle %}
  Adding and subtracting fractions | Learning about fractions
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Functional maths skills</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Your lessons</li>
      </ol>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% block fractions3 %}
          {% include "../includes/fractions-three-content.html" %}
        {% endblock %}
      </div>
      {% block webchat %}
        {% include "../includes/webchat.html" %}
      {% endblock %}

    </div>

  {% endblock %}
