{% extends "layout.html" %}

{% block pageTitle %}
  Adding and subtracting fractions | Learning about fractions
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Functional maths skills</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Your lessons</li>
      </ol>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% block fractions3 %}
          {% include "../includes/fractions-three-content.html" %}
        {% endblock %}
      </div>
      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">Want to speak to a tutor?</h2>
        <p class="govuk-body " style="margin-bottom: 0px;"><a style="white-space: nowrap;" href="https://muut.com/learning-fractions/#!/general:challenge-3-adding-and-su" rel="external" target="_blank">Use our tutor forum</a> or call 0800&nbsp;100&nbsp;900, 8am&nbsp;to&nbsp;10pm, 7&nbsp;days&nbsp;a&nbsp;week</p>
      </div>
    </div>

  {% endblock %}
