{% extends "layout.html" %}

{% block pageTitle %}
  Learning about fractions
{% endblock %}

{% block content %}

  <div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Functional maths skills</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Your lessons</li>
      </ol>
    </div>

    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Learning about fractions</h1>

          <p class="govuk-body">Use this module to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>learn about what a fraction is</li>
            <li>look at different types of fraction</li>
          </ul>

          <a href="./fractions-one" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
            Start the module
          </a>

        </div>

        <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-m">Want to speak to a tutor?</h2>
          <p class="govuk-body " style="margin-bottom: 0px;"><a style="white-space: nowrap;" href="https://muut.com/learning-fractions/#!/general" rel="external" target="_blank">Use our tutor forum</a> or call 0800&nbsp;100&nbsp;900, 8am&nbsp;to&nbsp;10pm, 7&nbsp;days&nbsp;a&nbsp;week</p>
        </div>


      </div>
    </main>
  </div>

{% endblock %}
