{% extends "layout.html" %}

{% block pageTitle %}
  Using fractions in real life | Learning about fractions
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Functional maths skills</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Your lessons</li>
      </ol>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-xl">Challenge 1 out of 3</span>
        <h2 class="govuk-heading-xl">Using fractions in real life</h2>
        <p class="govuk-body">
          Take a look at this headline from a press release from the British Wind Energy Association:
        </p>
        <div class="govuk-inset-text">
          &ldquo;Three-quarters of people in Wales believe wind farms are necessary, says new poll&rdquo;
        </div>
        <h2 class="govuk-heading-m">Questions</h2>
        <ol class="govuk-list govuk-list--number">
          <li>Do the majority of Welsh people think wind farms are necessary?</li>
          <li>Do you know how many people think wind farms are necessary?</li>
        </ol>

        <h2 class="govuk-heading-m"></h2>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              View the answer to question 1
            </span>
          </summary>
          <div class="govuk-details__text">
            Yes you know the proportion of people who think they are necessary is a larger part of the total group. Quarters splits something into 4. 3 out of the 4 think they are necessary and 1 doesn’t.
          </div>
        </details>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              View the answer to question 2
            </span>
          </summary>
          <div class="govuk-details__text">
            No, you don’t actually know the number of people who think this way – the headline just tells you the proportion in favour, or how many people support wind farms compared with the whole group.
          </div>
        </details>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        <div class="govuk-inset-text">
          You’ve now found out that 600 people were asked about wind farms
        </div>
        <ol start="3" class="govuk-list govuk-list--number">
          <li>How many people believe wind farms are necessary?
          </li>
        </ol>
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              View the answer to question 3
            </span>
          </summary>
          <div class="govuk-details__text">
            450 people think that wind farms are necessary. That’s <sup>3</sup>&frasl;<sub>4</sub> of 600
          </div>
        </details>
        <p class="govuk-body">This starts to show you just what a fraction is – it tells you a proportion rather than what the actual numbers were that enabled this fraction to be written.
        </p>
        <a href="/fractions-two" role="button" draggable="false" class="govuk-button">
          Next lesson
        </a>
      </div>
      {% block webchat %}
        {% include "includes/webchat.html" %}
      {% endblock %}

    </div>

  {% endblock %}
